# PySpark v3.5.0

# Spark Overview
#### Apachi spark is a fast and genereal purpose cluster computing system. it provide high level API's in Scala, java, python that make parrallel jobs easy to write, and optimized engine that supports general computation graphs. It also supports a rich set of higher-level tools including Shark (Hive on spark), MLib for machinelearning, GraphX for graph processing, and Spark Streaming.

## Speed
#### Run Workloads 100x Speed.
## Ease Of Use
#### Write Application quickly in java, Scala, Python, R and SQL.
## Generality
#### Combine SQL, Streaming and complex analytics(Mlib : Machine learning library, GraphX).
## Run Everywhere
#### Spark can runs on Hadoop, Apache Mesos, Kubemeters, Standalone or in the clould.
#### it can access diverse data sources.

## Install pyspark library

In [1]:
!pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in c:\users\arsalan bakhtiar ab\appdata\roaming\python\python312\site-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\arsalan bakhtiar ab\appdata\roaming\python\python312\site-packages (from pyspark) (0.10.9.7)

## Import pyspark libray

In [1]:
import pyspark
print("Version :",pyspark.__version__)

Version : 3.5.0

## Read file with pandas

In [3]:
import pandas as pd
pd.read_csv('test1.csv')

       Name  age  Experience  Salary
0   Arsalan   31          10   30000
1  Bakhtiar   30           8   25000
2        AB   29           4   20000
3     Azman   24           3   20000
4    Furqan   21           1   15000
5     Afzal   23           2   18000

## Note: 
#### When want to work with pyspark always, first of all you need to start a spark session.

In [1]:
from pyspark.sql import SparkSession

## Creating a instance of a SparkSession Class

In [2]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

## Note:
### Executing on local machine there is only one cluster, when you working on clould you can create multiple cluster or instances .

In [3]:
spark

## Read Dataset With PySpark

In [4]:
df_pyspark = spark.read.csv('test1.csv')

In [5]:
df_pyspark.show()

+--------+---+----------+------+
|     _c0|_c1|       _c2|   _c3|
+--------+---+----------+------+
|    Name|age|Experience|Salary|
| Arsalan| 31|        10| 30000|
|Bakhtiar| 30|         8| 25000|
|      AB| 29|         4| 20000|
|   Azman| 24|         3| 20000|
|  Furqan| 21|         1| 15000|
|   Afzal| 23|         2| 18000|
+--------+---+----------+------+

#### To get the defalut header name of the Dataset instead of just random name like _c0, _c1 ... cn.

In [9]:
df_pyspark = spark.read.option('header','true').csv('test1.csv').show()
# or
df_pyspark = spark.read.csv('test1.csv',header = True , inferSchema = True).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
| Arsalan| 31|        10| 30000|
|Bakhtiar| 30|         8| 25000|
|      AB| 29|         4| 20000|
|   Azman| 24|         3| 20000|
|  Furqan| 21|         1| 15000|
|   Afzal| 23|         2| 18000|
+--------+---+----------+------+

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
| Arsalan| 31|        10| 30000|
|Bakhtiar| 30|         8| 25000|
|      AB| 29|         4| 20000|
|   Azman| 24|         3| 20000|
|  Furqan| 21|         1| 15000|
|   Afzal| 23|         2| 18000|
+--------+---+----------+------+



## Addind 
## Dropping columns

## Pyspark Dataframe
## Reading the Dataset

In [10]:
df_pyspark = spark.read.option('header','true').csv('test1.csv').show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
| Arsalan| 31|        10| 30000|
|Bakhtiar| 30|         8| 25000|
|      AB| 29|         4| 20000|
|   Azman| 24|         3| 20000|
|  Furqan| 21|         1| 15000|
|   Afzal| 23|         2| 18000|
+--------+---+----------+------+

## Schema
#### It can show the details about the dataset. Cheking the Datatype of the columns. Also show if there is any null value.
## Note:
#### if you can used the .show() at the end so id doesn't work.
#### You can also define one more option the csv() is "inferSchema = True" . Other wisre it can be consider all the vlaues as a string.

In [11]:
df_pyspark = spark.read.option('header','true').csv('test1.csv',inferSchema = True)
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [12]:
df_pyspark = spark.read.csv('test1.csv',header = True , inferSchema = True)
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

## Check the type of the Dataframe
## Note :
### Dataframe is a Data Structure, Because inside this you can perform various kind of operations. so this is also one kind of Data Structure.

In [13]:
type (df_pyspark)

pyspark.sql.dataframe.DataFrame

## Dealing with Columns
- 01 : Print the first 3 rows
- 02 : print the columns name only.
- 03 : Show all the columns .show()
- 04 : Select the entire column one or multiple .select('Name of the column','Second column name')
- 05 : Check the Data type .dtype
- 06 : To check mean, median, mode and stuf like this used .describe()
- 07 : Adding columns .withColumns()
- 08 : Drop the columns .drop() drop single or multiple
- 09 : Remane the column  .withColumnRenamed('Existance','New Name')
- 06 : To check mean, median, mode and stuf like this used .describe()

In [14]:
df_pyspark.head(3)

[Row(Name='Arsalan', age=31, Experience=10, Salary=30000),
 Row(Name='Bakhtiar', age=30, Experience=8, Salary=25000),
 Row(Name='AB', age=29, Experience=4, Salary=20000)]

In [15]:
df_pyspark.columns

['Name', 'age', 'Experience', 'Salary']

In [16]:
df_pyspark.show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
| Arsalan| 31|        10| 30000|
|Bakhtiar| 30|         8| 25000|
|      AB| 29|         4| 20000|
|   Azman| 24|         3| 20000|
|  Furqan| 21|         1| 15000|
|   Afzal| 23|         2| 18000|
+--------+---+----------+------+

In [17]:
df_pyspark.select('Name').show()

+--------+
|    Name|
+--------+
| Arsalan|
|Bakhtiar|
|      AB|
|   Azman|
|  Furqan|
|   Afzal|
+--------+

In [18]:
df_pyspark.select(['Name','Salary']).show()
print (type(df_pyspark.select(['Name','Salary'])))

+--------+------+
|    Name|Salary|
+--------+------+
| Arsalan| 30000|
|Bakhtiar| 25000|
|      AB| 20000|
|   Azman| 20000|
|  Furqan| 15000|
|   Afzal| 18000|
+--------+------+

<class 'pyspark.sql.dataframe.DataFrame'>

In [19]:
df_pyspark['Name','Age'].show()
print (type(df_pyspark['Name',]))

+--------+---+
|    Name|Age|
+--------+---+
| Arsalan| 31|
|Bakhtiar| 30|
|      AB| 29|
|   Azman| 24|
|  Furqan| 21|
|   Afzal| 23|
+--------+---+

<class 'pyspark.sql.dataframe.DataFrame'>

In [20]:
# 05 : Check the Data type .dtype
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [21]:
# 06 : To check mean, median, mode and stuf like this used .describe()
df_pyspark['Age','Experience','Salary'].describe().show()

+-------+------------------+-----------------+------------------+
|summary|               Age|       Experience|            Salary|
+-------+------------------+-----------------+------------------+
|  count|                 6|                6|                 6|
|   mean|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|                21|                1|             15000|
|    max|                31|               10|             30000|
+-------+------------------+-----------------+------------------+

In [22]:
# 07 : Adding columns .withColumns()
df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2).show()

+--------+---+----------+------+-----------------------+
|    Name|age|Experience|Salary|Experience After 2 year|
+--------+---+----------+------+-----------------------+
| Arsalan| 31|        10| 30000|                     12|
|Bakhtiar| 30|         8| 25000|                     10|
|      AB| 29|         4| 20000|                      6|
|   Azman| 24|         3| 20000|                      5|
|  Furqan| 21|         1| 15000|                      3|
|   Afzal| 23|         2| 18000|                      4|
+--------+---+----------+------+-----------------------+

In [23]:
# 08 : Drop the columns .drop() drop single or multiple
df_pyspark.drop('Experience After 2 year')
df_pyspark.show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
| Arsalan| 31|        10| 30000|
|Bakhtiar| 30|         8| 25000|
|      AB| 29|         4| 20000|
|   Azman| 24|         3| 20000|
|  Furqan| 21|         1| 15000|
|   Afzal| 23|         2| 18000|
+--------+---+----------+------+

In [24]:
# 09 : Remane the column  .withColumnRenamed('Existance','New Name')
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+------+
|New Name|age|Experience|Salary|
+--------+---+----------+------+
| Arsalan| 31|        10| 30000|
|Bakhtiar| 30|         8| 25000|
|      AB| 29|         4| 20000|
|   Azman| 24|         3| 20000|
|  Furqan| 21|         1| 15000|
|   Afzal| 23|         2| 18000|
+--------+---+----------+------+

## PySpark Handling Missing Values

- Dropping Columns

In [4]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName("Handling Missing Values").getOrCreate()

In [10]:
spark.read.csv('test2.csv',header=True,inferSchema = True).show()
df = spark.read.csv('test2.csv',header=True,inferSchema = True)

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
| Arsalan|  31|        10| 30000|
|Bakhtiar|  30|         8| 25000|
|      AB|  29|         4| 20000|
|   Azman|  24|         3| 20000|
|  Furqan|  21|         1| 15000|
|   Afzal|  23|         2| 18000|
|   Talha|NULL|      NULL| 40000|
|    NULL|  34|        10| 38000|
|    NULL|  36|      NULL|  NULL|
+--------+----+----------+------+

- Drop the Columns

In [11]:
df.drop('age').show()

+--------+----------+------+
|    Name|Experience|Salary|
+--------+----------+------+
| Arsalan|        10| 30000|
|Bakhtiar|         8| 25000|
|      AB|         4| 20000|
|   Azman|         3| 20000|
|  Furqan|         1| 15000|
|   Afzal|         2| 18000|
|   Talha|      NULL| 40000|
|    NULL|        10| 38000|
|    NULL|      NULL|  NULL|
+--------+----------+------+

- Dropping Rows
- Various Parameter in Dropping functionalities
> how = 'any' # if 'any', drop a row if contains any nulls.
> how = 'all' # if 'all', drop a row only if all its values are null.

In [16]:
df.na.drop(how='all').show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
| Arsalan|  31|        10| 30000|
|Bakhtiar|  30|         8| 25000|
|      AB|  29|         4| 20000|
|   Azman|  24|         3| 20000|
|  Furqan|  21|         1| 15000|
|   Afzal|  23|         2| 18000|
|   Talha|NULL|      NULL| 40000|
|    NULL|  34|        10| 38000|
+--------+----+----------+------+

- Threshold (thresh = 2) # it can be check atleast if there is 2 non-null value be there.

In [17]:
df.na.drop(how='all',thresh= 2).show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
| Arsalan|  31|        10| 30000|
|Bakhtiar|  30|         8| 25000|
|      AB|  29|         4| 20000|
|   Azman|  24|         3| 20000|
|  Furqan|  21|         1| 15000|
|   Afzal|  23|         2| 18000|
|   Talha|NULL|      NULL| 40000|
|    NULL|  34|        10| 38000|
+--------+----+----------+------+

- Subset subset=[] # Drop the nan values only from a specific Columns.it can be delete the whole row.

In [19]:
df.na.drop(subset=["Experience"]).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
| Arsalan| 31|        10| 30000|
|Bakhtiar| 30|         8| 25000|
|      AB| 29|         4| 20000|
|   Azman| 24|         3| 20000|
|  Furqan| 21|         1| 15000|
|   Afzal| 23|         2| 18000|
|    NULL| 34|        10| 38000|
+--------+---+----------+------+

- Filling the Missing values

In [30]:
df.na.fill('Missing_Values',['Name','age']).show()

+--------------+----+----------+------+
|          Name| age|Experience|Salary|
+--------------+----+----------+------+
|       Arsalan|  31|        10| 30000|
|      Bakhtiar|  30|         8| 25000|
|            AB|  29|         4| 20000|
|         Azman|  24|         3| 20000|
|        Furqan|  21|         1| 15000|
|         Afzal|  23|         2| 18000|
|         Talha|NULL|      NULL| 40000|
|Missing_Values|  34|        10| 38000|
|Missing_Values|  36|      NULL|  NULL|
+--------------+----+----------+------+

- Handling Missing values by Mean, Median & Mode (Imputer)

In [31]:
from pyspark.ml.feature import Imputer

In [40]:
imputer = Imputer(
    inputCols = ['age', 'Experience', 'Salary'], 
    outputCols = ["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
                 ).setStrategy('mean')

In [41]:
imputer.fit(df).transform(df).show()

+--------+----+----------+------+-----------+------------------+--------------+
|    Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+--------+----+----------+------+-----------+------------------+--------------+
| Arsalan|  31|        10| 30000|         31|                10|         30000|
|Bakhtiar|  30|         8| 25000|         30|                 8|         25000|
|      AB|  29|         4| 20000|         29|                 4|         20000|
|   Azman|  24|         3| 20000|         24|                 3|         20000|
|  Furqan|  21|         1| 15000|         21|                 1|         15000|
|   Afzal|  23|         2| 18000|         23|                 2|         18000|
|   Talha|NULL|      NULL| 40000|         28|                 5|         40000|
|    NULL|  34|        10| 38000|         34|                10|         38000|
|    NULL|  36|      NULL|  NULL|         36|                 5|         25750|
+--------+----+----------+------+-----------+------------------+--------------+

## Filter Operation

- Filter Operation are
- & | ==
- Inverse Condition ( ~ )

In [1]:
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder.appName('Filter Operation').getOrCreate()
spark

In [3]:
spark.read.csv('test1.csv',header = True,inferSchema = True ).show()
df = spark.read.csv('test1.csv',header = True,inferSchema = True )
df.printSchema()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
| Arsalan| 31|        10| 30000|
|Bakhtiar| 30|         8| 25000|
|      AB| 29|         4| 20000|
|   Azman| 24|         3| 20000|
|  Furqan| 21|         1| 15000|
|   Afzal| 23|         2| 18000|
+--------+---+----------+------+

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

- Salary of the people less than or equal to 2000.

In [21]:
df.filter("Salary<=25000").show()
# or 
df.filter(df["Salary"]<=25000).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|Bakhtiar| 30|         8| 25000|
|      AB| 29|         4| 20000|
|   Azman| 24|         3| 20000|
|  Furqan| 21|         1| 15000|
|   Afzal| 23|         2| 18000|
+--------+---+----------+------+

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|Bakhtiar| 30|         8| 25000|
|      AB| 29|         4| 20000|
|   Azman| 24|         3| 20000|
|  Furqan| 21|         1| 15000|
|   Afzal| 23|         2| 18000|
+--------+---+----------+------+

In [33]:
# Select the specific columns.
df.filter(
            (df["Salary"]<=20000) & (df["Salary"]>=15000)
         ).show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|    AB| 29|         4| 20000|
| Azman| 24|         3| 20000|
|Furqan| 21|         1| 15000|
| Afzal| 23|         2| 18000|
+------+---+----------+------+

In [36]:
# Inverse Condition.
df.filter(~(
            (df["Salary"]<=20000) & (df["Salary"]>=15000)
         )).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
| Arsalan| 31|        10| 30000|
|Bakhtiar| 30|         8| 25000|
+--------+---+----------+------+

## GroupBy & Aggregate Function

In [13]:
from pyspark.sql import SparkSession

In [14]:
spark = SparkSession.builder.appName('GroupBy_&_Aggregate').getOrCreate()
spark

In [15]:
spark.read.csv("test3.csv",header = True,inferSchema = True).show()
df = spark.read.csv("test3.csv",header = True,inferSchema = True)

+--------+------------+------+
|    Name| Departments|salary|
+--------+------------+------+
| Arsalan|Data Science| 10000|
|Bakhtiar|         IOT|  5000|
| Arsalan|    Big Data|  4000|
|   Azman|    Big Data|  4000|
|  Furqan|Data Science|  3000|
|   Afzal|Data Science| 20000|
|   Talha|         IOT| 10000|
|  Salman|    Big Data|  5000|
|   Roman|Data Science| 10000|
|   Usman|    Big Data|  2000|
+--------+------------+------+

- GroupBy Name

In [25]:
df.groupBy('Name').sum().show()

+--------+-----------+
|    Name|sum(salary)|
+--------+-----------+
|  Salman|       5000|
|   Afzal|      20000|
|   Azman|       4000|
|   Talha|      10000|
|   Roman|      10000|
|  Furqan|       3000|
|Bakhtiar|       5000|
| Arsalan|      14000|
|   Usman|       2000|
+--------+-----------+

In [35]:
# Maximum Salary
df.groupBy('Name').max().show()

+--------+-----------+
|    Name|max(salary)|
+--------+-----------+
|  Salman|       5000|
|   Afzal|      20000|
|   Azman|       4000|
|   Talha|      10000|
|   Roman|      10000|
|  Furqan|       3000|
|Bakhtiar|       5000|
| Arsalan|      10000|
|   Usman|       2000|
+--------+-----------+

- GroupBy Departments

In [24]:
df.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

- Count people in Departments

In [29]:
df.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

- Aggregate

In [31]:
df.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

## Note
- Spark ML has two different techniques one is RDD API technique and the second one is Data freame API.

## PySpark Machine Learning

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Py Spark Machine Learning").getOrCreate()

In [3]:
spark

- Read the dataset

In [4]:
training = spark.read.csv("test1.csv",header = True, inferSchema=True)
training.show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
| Arsalan| 31|        10| 30000|
|Bakhtiar| 30|         8| 25000|
|      AB| 29|         4| 20000|
|   Azman| 24|         3| 20000|
|  Furqan| 21|         1| 15000|
|   Afzal| 23|         2| 18000|
+--------+---+----------+------+

In [5]:
training.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [6]:
training.columns

['Name', 'age', 'Experience', 'Salary']

In [7]:
from pyspark.ml.feature import VectorAssembler

- Note
- ['age', 'Experience'] --> New Feature --> Independent

In [9]:
featureassembler = VectorAssembler(inputCols=['age','Experience'],outputCol='Independet Features')

In [12]:
output  = featureassembler.transform(training)

In [13]:
output.show()

+--------+---+----------+------+-------------------+
|    Name|age|Experience|Salary|Independet Features|
+--------+---+----------+------+-------------------+
| Arsalan| 31|        10| 30000|        [31.0,10.0]|
|Bakhtiar| 30|         8| 25000|         [30.0,8.0]|
|      AB| 29|         4| 20000|         [29.0,4.0]|
|   Azman| 24|         3| 20000|         [24.0,3.0]|
|  Furqan| 21|         1| 15000|         [21.0,1.0]|
|   Afzal| 23|         2| 18000|         [23.0,2.0]|
+--------+---+----------+------+-------------------+

In [14]:
output.columns

['Name', 'age', 'Experience', 'Salary', 'Independet Features']

In [16]:
finilize_data = output.select('Independet Features','Salary' )

## Linear Regression

In [18]:
from pyspark.ml.regression import LinearRegression

- Train Test Split

In [20]:
train_data,test_data = finilize_data.randomSplit([0.75,0.25])
reg = LinearRegression(featuresCol='Independet Features',labelCol='Salary')
reg = reg.fit(train_data)

- Cofficients

In [21]:
reg.coefficients

DenseVector([-263.7076, 1767.624])

- Intercept

In [22]:
reg.intercept

19919.060052212404

- Predictions

In [23]:
pred_results = reg.evaluate(test_data)

In [28]:
pred_results.predictions.show()

+-------------------+------+-----------------+
|Independet Features|Salary|       prediction|
+-------------------+------+-----------------+
|         [29.0,4.0]| 20000|19342.03655352618|
+-------------------+------+-----------------+

In [29]:
pred_results.meanAbsoluteError,pred_results.meanSquaredError

(657.9634464738192, 432915.89689570636)

## Class Room Code

In [1]:
x = 10

In [2]:
y = 5

In [3]:
z = x+y
print(z)

15

In [9]:
def Square(x) -> int:
    y  = x*x
    return y

In [10]:
Square(2)

4

In [11]:
list = [1,2,3,4,5]
for i in list:
    print(i)

1
2
3
4
5

In [15]:
list = [1,2,3,4,5,6]
for i in list:
    print(i)

1
2
3
4
5
6

In [25]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("BroadcastExample").getOrCreate()

# Get the SparkContext from the SparkSession
sc = spark.sparkContext

# Create a variable to be broadcasted
data = [1, 2, 3, 4, 5]

# Broadcast the variable
broadcast_data = sc.broadcast(data)

# Access the broadcasted value
broadcast_value = broadcast_data.value

# Print the broadcasted value
print(broadcast_value)

# Stop the SparkSession
spark.stop()

[1, 2, 3, 4, 5]

- Working With Key value

In [28]:
pair = (1,2)

In [29]:
pair[1]

2

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('ML on Tip data set').getOrCreate()

In [3]:
spark

In [7]:
df = spark.read.csv('tips.csv',header=True,inferSchema=True)
df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

### Word Count using map reduce.

In [1]:
from pyspark.sql import SparkSession

In [2]:
# Intilize Spark context
spark = SparkSession.builder.appName("Word Count").config("spark.driver.memory", "4g").getOrCreate()

# spark = SparkSession.builder.appName("Word Count").getOrCreate()
sc = spark.sparkContext

In [3]:
# Intilize Spark context
spark = SparkSession.builder.appName("Word Count").getOrCreate()
sc = spark.sparkContext
spark
# Create RDD
data = ['apple','banana','grape','banana','orange','apple']
rdd = sc.parallelize(data)
# Map Step: Assign a count of 1 to each string
mapped_rdd = rdd.map(lambda x:(x,1))
# Reduce Step: Sum the counts for each string
reduced_rdd = mapped_rdd.reduceByKey(lambda x,y:x+y)
# Collect the result
result = reduced_rdd.collect()

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.collectAndServe.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 6 in stage 0.0 failed 1 times, most recent failure: Lost task 6.0 in stage 0.0 (TID 6) (10.10.69.56 executor driver): org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:203)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:174)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:67)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.api.python.PairwiseRDD.compute(PythonRDD.scala:130)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:104)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:54)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	at java.base/java.lang.Thread.run(Thread.java:1583)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.base/sun.nio.ch.NioSocketImpl.timedAccept(NioSocketImpl.java:701)
	at java.base/sun.nio.ch.NioSocketImpl.accept(NioSocketImpl.java:745)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:698)
	at java.base/java.net.ServerSocket.platformImplAccept(ServerSocket.java:663)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:639)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:585)
	at java.base/java.net.ServerSocket.accept(ServerSocket.java:543)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:190)
	... 22 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2844)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2780)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2779)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2779)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1242)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1242)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1242)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3048)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2982)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2971)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:984)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2398)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2419)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2438)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2463)
	at org.apache.spark.rdd.RDD.$anonfun$collect$1(RDD.scala:1046)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:407)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:1045)
	at org.apache.spark.api.python.PythonRDD$.collectAndServe(PythonRDD.scala:195)
	at org.apache.spark.api.python.PythonRDD.collectAndServe(PythonRDD.scala)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:75)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:52)
	at java.base/java.lang.reflect.Method.invoke(Method.java:580)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1583)
Caused by: org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:203)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:174)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:67)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.api.python.PairwiseRDD.compute(PythonRDD.scala:130)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:104)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:54)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	... 1 more
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.base/sun.nio.ch.NioSocketImpl.timedAccept(NioSocketImpl.java:701)
	at java.base/sun.nio.ch.NioSocketImpl.accept(NioSocketImpl.java:745)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:698)
	at java.base/java.net.ServerSocket.platformImplAccept(ServerSocket.java:663)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:639)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:585)
	at java.base/java.net.ServerSocket.accept(ServerSocket.java:543)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:190)
	... 22 more

In [13]:
# Create RDD
data = ['apple','banana','grape','banana','orange','apple']

In [14]:
rdd = sc.parallelize(data)

In [15]:
# Map Step: Assign a count of 1 to each string
mapped_rdd = rdd.map(lambda x:(x,1))

In [22]:
# Reduce Step: Sum the counts for each string
reduced_rdd = mapped_rdd.reduceByKey(lambda x,y:x+y)

In [23]:
# Collect the result
result = reduced_rdd.collect()

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.collectAndServe.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 4 in stage 0.0 failed 1 times, most recent failure: Lost task 4.0 in stage 0.0 (TID 4) (DESKTOP-S1FT3E0 executor driver): org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:203)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:174)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:67)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.api.python.PairwiseRDD.compute(PythonRDD.scala:130)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:104)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:54)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	at java.base/java.lang.Thread.run(Thread.java:1583)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.base/sun.nio.ch.NioSocketImpl.timedAccept(NioSocketImpl.java:701)
	at java.base/sun.nio.ch.NioSocketImpl.accept(NioSocketImpl.java:745)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:698)
	at java.base/java.net.ServerSocket.platformImplAccept(ServerSocket.java:663)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:639)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:585)
	at java.base/java.net.ServerSocket.accept(ServerSocket.java:543)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:190)
	... 22 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2844)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2780)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2779)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2779)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1242)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1242)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1242)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3048)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2982)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2971)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:984)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2398)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2419)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2438)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2463)
	at org.apache.spark.rdd.RDD.$anonfun$collect$1(RDD.scala:1046)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:407)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:1045)
	at org.apache.spark.api.python.PythonRDD$.collectAndServe(PythonRDD.scala:195)
	at org.apache.spark.api.python.PythonRDD.collectAndServe(PythonRDD.scala)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:75)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:52)
	at java.base/java.lang.reflect.Method.invoke(Method.java:580)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1583)
Caused by: org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:203)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:174)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:67)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.api.python.PairwiseRDD.compute(PythonRDD.scala:130)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:104)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:54)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	... 1 more
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.base/sun.nio.ch.NioSocketImpl.timedAccept(NioSocketImpl.java:701)
	at java.base/sun.nio.ch.NioSocketImpl.accept(NioSocketImpl.java:745)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:698)
	at java.base/java.net.ServerSocket.platformImplAccept(ServerSocket.java:663)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:639)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:585)
	at java.base/java.net.ServerSocket.accept(ServerSocket.java:543)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:190)
	... 22 more

In [ ]:
# Print the result
for (word,count) in result:
    print